body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main{
  width:700px;
  height:500px;
  margin:0 auto;
}
#label{
  color: #00B7FF;
  font-size: xx-large;
}

.labelDiv{
  text-align: center;
}